<template lang="pug">
	.about
		h2 Game

		v-container(v-if="!game.isStarted && connected")
			v-row: v-col(cols="12" md="4" offset-md="4"): h3 Please select char:
			v-row
				v-col(cols="12" md="4")
				v-col.char-type(cols="12" md="1" v-for="char in charTypes" :key="char.name" @click="selectType(char)"): img.chars( :src="'/'+char.textureUrl")

		#phaser(v-if="connected")
		h3(v-if="!connected") Connecting...

</template>
<script lang="ts">
	import Vue from 'vue';
	import {Game, CharType} from '@/controllers/Game';
	import IO from 'socket.io-client';

	const game = new Game();
	let socket: any;

	export default Vue.extend({
		name      : 'Game',
		components: {},
		data() {
			return {
				game,
				connected: false,
				charTypes: game.getCharDefsList()
			};
		},
		methods   : {
			selectType(char: any) {
				if (!socket) return this.connected = false;

				game.start(char, socket);
			}
		},
		mounted(): void {
			socket = IO();

			socket.on('connect', () => {
				this.connected = true;
			});

			socket.on('disconnect', () => {
				this.connected = false;
			});

			socket.on('state', (state: any) => {
				//game.addChar(state.id)
			});

			socket.on('updateFromServer', (state: any) => {
				game.doUpdate(state);
			});

			socket.on('delete', (id: string) => {
				game.deleteChar(id);
			});
		}
	});
</script>
<style lang="scss">
	.char-type {
		&:hover {
			border : 1px solid #d0d0d0 !important;
		}

		&:first-child {
			margin-left : -20px;
		}

		cursor : pointer;
		margin : 20px;
		border : 1px solid #f0f0f0;
	}

	.chars {
		height : 72px;
	}
</style>
