<template lang="pug">
	.dec2base
		h2.title Number base converter
		v-content
			v-row
				v-col(cols="12" md="10" offset-md="1"): v-text-field(v-model='dec' label="Decimal value")
			v-row
				v-col(cols="12" md="4" offset-md="1"): v-text-field(v-model='decPl' label="Decimal places" min="0" max="1024" type="number")
				v-col(cols="12" md="3"): v-text-field(v-model='inBase' label="Input number base" min="2" max="36" type="number")
				v-col(cols="12" md="3"): v-text-field(v-model='outBase' label="Output number base" min="2" max="36" type="number")

			v-row: v-col(cols="12" md="8" offset-md="1"): h4 Result:
			v-row: v-col(cols="12" md="10" offset-md="1"): p.num {{outNum}}


</template>

<script lang="ts">
	import Vue from 'vue';
	import {BigNumber} from 'bignumber.js';

	export default Vue.extend({
		name      : 'Num2Num',
		data      : () => ({
			inBase : 10,
			outBase: 2,
			dec    : '0',
			decPl  : '2'
		}),
		components: {},
		computed  : {
			outNum(): string {
				const inNum = this.dec.replace(/,/g, '.');

				BigNumber.config({DECIMAL_PLACES: Number(this.decPl)});

				const bn = new BigNumber(inNum || 0, Number(this.inBase));
				const bnStr = bn.toString(Number(this.outBase));
				return !bn.isNaN()
				       ? bnStr
				       : ~bnStr.indexOf(',')
				         ? 'Please use "."'
				         : 'Not number';
			}
		}
	});
</script>
<style scoped lang="scss">
	.title {
		margin-bottom : 24px;
	}

	.num {
		font-family      : Consolas, monospace;
		background-color : #fffde7;
		padding          : 14px 20px;
		border           : 1px dashed #cccccc;
	}
</style>
