<template lang="pug">
	v-app
		v-card.overflow-hidden(height="100%")
			v-app-bar(color='primary' dark dense)
				v-toolbar-title.title IR-20031A
				v-tabs( background-color="primary" dark)
					v-tab(to="/test1") Number base converter tool
					v-tab(to="/test2") Underwater game
			v-sheet
				v-container(fluid)
					router-view
</template>

<script lang="ts">
	import Vue from 'vue';

	export default Vue.extend({
		name: 'App',

		components: {},

		data: () => ({}),
	});
</script>

<style scoped>
	.title {
		width : 140px;
	}
</style>
